{% extends "layout.html.twig" %}

{% block title %} <title>Liste des rubriques</title> {% endblock %}
{% block content %}

<body>
<!-- Page Content -->
<div class="container">

    <div class="row">
		<h1 class="my-4 col-md-4">Liste des rubriques</h1>

		<div class="col-md-4">
		</div>

		<div class="col-md-4">
			<a class="btn btn-danger" id="btn-ajouter-rubrique" href="index.php?action=formAjouterRubrique" style="visibility:{{ session.utilisateur.admin != 1 ? 'hidden' : 'visible' }}">Ajouter une rubrique</a>
		</div>
	</div>

		<div class="row">
			{% for rub in rubrique %}
				<div class="col-lg-3 col-md-4 col-sm-6 mb-4">
				
					<div class="card h-100">
						<a href="?action=afficherAnnonces&param={{rub.id}}&paramLibelle={{rub.libelle}}"><img class="card-img-top" src="http://lorempixel.com/850/850/?random=120" alt=""></a>
						<div class="card-body">
							<h4 class="card-title">
								<a href="?action=afficherAnnonces&param={{rub.id}}&paramLibelle={{rub.libelle}}">{{rub.libelle}}</a>
							</h4>
							<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur eum quasi sapiente nesciunt? Voluptatibus sit, repellat sequi itaque deserunt, dolores in, nesciunt, illum tempora ex quae? Nihil, dolorem!</p>
							<a class="btn btn-danger" href="index.php?action=formModifierRubrique&param={{rub.id}}&paramLibelle={{rub.libelle}}" style="visibility:{{ session.utilisateur.admin != 1 ? 'hidden' : 'visible' }}">Modifier</a>
							<a class="btn btn-danger" href="index.php?action=supprimerRubrique&param={{rub.id}}" style="visibility:{{ session.utilisateur.admin != 1 ? 'hidden' : 'visible' }}">Supprimer</a>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
  <!-- /.row -->

  <!-- Pagination -->
  {# <ul class="pagination justify-content-center">
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only">Previous</span>
          </a>
    </li>
    <li class="page-item">
      <a class="page-link" href="#">1</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="#">2</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="#">3</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">Next</span>
          </a>
    </li>
  </ul> #}

</div>
<!-- /.container -->
</body>
{% endblock %}